Pandas kütüphanesi pythonda kullanılan dictionary gibi verilerin işlenmesi , sayısal olarak tablolaştırılamsında kullanılır.
Kullanmak için numpy ve matplotlib de yaptığımız gibi pandas kütüphanesini eklemeliyiz.

In [1]:
import pandas as pd

In [5]:
dictionary = {"name":["asuman","enes","elif","can","zeynep"],"age":[23,15,20,34,47],
             "ortalama":[78,80,65,90,63]}
tablo = pd.DataFrame(dictionary)
print(tablo)

     name  age  ortalama
0  asuman   23        78
1    enes   15        80
2    elif   20        65
3     can   34        90
4  zeynep   47        63

In [8]:
tail = tablo.tail() 
# dışarıdan bir veri import edildiğinde içeriğine bakmak için
# head ya da tail kullanılır
print(tail)

     name  age  ortalama
0  asuman   23        78
1    enes   15        80
2    elif   20        65
3     can   34        90
4  zeynep   47        63

Pandas İle Temel İşlemler

In [11]:
#info ile oluşturulan tablo hakkında bilgi alabiliriz
print(tablo.info())
print("\n ---------- \n")
#oluşturulan tablodaki her bir sütunun type'ını dtypes ile buluruz
print(tablo.dtypes)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      5 non-null      object
 1   age       5 non-null      int64
 2   ortalama  5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 248.0+ bytes
None

 ----------

name        object
age          int64
ortalama     int64
dtype: object

Indexing and Slicing

In [27]:
print(tablo["name"]) #sadece isimleri getirir
print("\n",tablo.loc[:3,"age"]) #age sütununu getirirken kullanırız -> 0'dan 4'e kadar age değerlerini getirir
print("\n",tablo.loc[:,"name":"ortalama"])# name den ortalama ya kadar değerleri tüm satırlar için getirir
print("\n",tablo.loc[::-1]) #verilen indeksleri tersten yazdırır yani zeynep ismi başa asuman ismi sona gelir 
print("\n" ,tablo.iloc[:,[0]]) #0.indeksteki sütunun tüm satırlarını yazdırır

0    asuman
1      enes
2      elif
3       can
4    zeynep
Name: name, dtype: object

 0    23
1    15
2    20
3    34
Name: age, dtype: int64

      name  age  ortalama
0  asuman   23        78
1    enes   15        80
2    elif   20        65
3     can   34        90
4  zeynep   47        63

      name  age  ortalama
4  zeynep   47        63
3     can   34        90
2    elif   20        65
1    enes   15        80
0  asuman   23        78

      name
0  asuman
1    enes
2    elif
3     can
4  zeynep

Verileri Filtreleyerek Getirmek

In [32]:
filtre = tablo.ortalama>75#not ortalaması 75'ten büyük olanlar filtrelendi
tablo["bool"]= filtre
print(tablo.loc[:,["ortalama","bool"]])

   ortalama   bool
0        78   True
1        80   True
2        65  False
3        90   True
4        63  False

In [33]:
filtrelenmis= tablo[filtre] # filtrelenmiş hali tabloda düzenlendi
print(filtrelenmis)

     name  age  ortalama  bool
0  asuman   23        78  True
1    enes   15        80  True
3     can   34        90  True

In [36]:
age_filtre = tablo.age>22
yeni_filtre = tablo[age_filtre&filtre] #hem yaş hem de ortalama olarak tutan değerleri aldık
print(yeni_filtre)

     name  age  ortalama  bool
0  asuman   23        78  True
3     can   34        90  True

List Comprehension

In [37]:
ortalama_not = tablo.ortalama.mean() #pandas ile ortalama bulma 
print(ortalama_not)

75.2

In [38]:
tablo["ortalama_not"]= ["ortalamanın altında" if tablo.ortalama.mean()>each else "ortalamanın üstünde" for each in tablo.ortalama]
tablo

     name  age  ortalama   bool         ortalama_not
0  asuman   23        78   True  ortalamanın üstünde
1    enes   15        80   True  ortalamanın üstünde
2    elif   20        65  False  ortalamanın altında
3     can   34        90   True  ortalamanın üstünde
4  zeynep   47        63  False  ortalamanın altında

In [42]:
tablo.columns = [each.upper() for each in tablo.columns]
print(tablo.columns)#tabodaki her sütun adının büyük harfle yazılması

Index(['NAME', 'AGE', 'ORTALAMA', 'BOOL', 'ORTALAMA_NOT'], dtype='object')

Concatenating Data

In [44]:
#iki veriyi birleştirmek istediğimizde concat fonksiyonu kullanırız ama burada x ekseni ya da y ekseni olara
#seçmeliyiz.eğer axis = 0 yazılırsa satır axis = 1 olursa sütun seçilir
data1 = tablo.head()     
data2 = tablo.tail()
data_concat = pd.concat([data1,data2],axis=1)#yatayda birleştirme yapıldı
data_concat

,NAME,AGE,ORTALAMA,BOOL,ORTALAMA_NOT,NAME,AGE,ORTALAMA,BOOL,ORTALAMA_NOT
0,asuman,23,78,True,ortalamanın üstünde,asuman,23,78,True,ortalamanın üstünde
1,enes,15,80,True,ortalamanın üstünde,enes,15,80,True,ortalamanın üstünde
2,elif,20,65,False,ortalamanın altında,elif,20,65,False,ortalamanın altında
3,can,34,90,True,ortalamanın üstünde,can,34,90,True,ortalamanın üstünde
4,zeynep,47,63,False,ortalamanın altında,zeynep,47,63,False,ortalamanın altında

Transforming Data

In [50]:
tablo["EKLENMİŞ PUAN"] = [each+15 for each in tablo.ORTALAMA]
tablo

,NAME,AGE,ORTALAMA,BOOL,ORTALAMA_NOT,puan_eklemesi,EKLENMİS PUAN,apply_metodu,Age Değişimi,EKLENMİŞ PUAN
0,asuman,23,78,True,ortalamanın üstünde,93,93,38,38,93
1,enes,15,80,True,ortalamanın üstünde,95,95,30,30,95
2,elif,20,65,False,ortalamanın altında,80,80,35,35,80
3,can,34,90,True,ortalamanın üstünde,105,105,49,49,105
4,zeynep,47,63,False,ortalamanın altında,78,78,62,62,78

In [ ]:
def mlt(age):
    return age+15
tablo["Age Değişimi"] = tablo.AGE.apply(mlt)
tablo